// Variables
$stat-height: 55px;
$gameData-height: 30px;
$container-padding: 12px;

// =================================================
// UI Layout
// -------------------------------------------------
html {
	height: 100%;
	width: 100%;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;

	#stats {
		height: $stat-height;
		padding: $container-padding;
		display: flex;
		align-items: center;
		justify-content: left;

		color: white;
		background-color: rgb(0, 0, 34);

		.stat {
			font-size: 14px;
			background-color: rgb(36, 36, 70);
			padding: 6px 12px;
			border-radius: 12px;
			font-weight: 700;
			transition: background-color 0.5s ease-out;
		}

		.stat:not(:last-child) {
			margin-right: 12px;
		}

		.statHeader {
			margin-right: 6px;
		}

		.statDisplay {
			margin-left: 6px;
		}

		.statChangeUp {
			position: absolute;
			color: #00DD00;

			-webkit-animation: popup 0.5s ease-in;
			-moz-animation: popup 0.5s ease-in;
			-ms-animation: popup 0.5s ease-in;
			-o-animation: popup 0.5s ease-in;
			animation: popup 0.5s ease-in;
		}

		.statChangeDown {
			position: absolute;
			color: #FF3333;

			-webkit-animation: popdown 0.5s ease-in;
			-moz-animation: popdown 0.5s ease-in;
			-ms-animation: popdown 0.5s ease-in;
			-o-animation: popdown 0.5s ease-in;
			animation: popdown 0.5s ease-in;
		}

		#doorFeeUp,
		#doorFeeDown {
			cursor: pointer;
			-webkit-user-select: none; /* Safari */        
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+/Edge */
			user-select: none; /* Standard */
		}
	}
	
	#main {
		height: calc(100% - $stat-height - $gameData-height - ($container-padding * 4));
		display: flex;
	
		#actionsContainer {
			flex: 1 1 25%;
			padding: $container-padding;

			color: white;
			background-color: rgb(16, 16, 54);
		}

		#partyContainer {
			flex: 1 1 50%;
			background-color: black;
		}
	
		#phoneContainer {
			flex: 1 1 25%;
		}
	}
	
	#gameData {
		height: $gameData-height;
		padding: $container-padding;
		display: flex;
		justify-content: space-between;
		align-items: center;

		font-size: 12px;

		color: rgb(192, 192, 192);
		background-color: rgb(31, 31, 31);

		#copyrightInfo {
			flex: 1 1 auto;
		}

		#gameDataButtons {
			flex: 0 0 auto;
		}

		a {
			color: rgb(71, 102, 204);
			text-decoration: none;
		}

		button {
			color: white;
			background-color: rgb(41, 41, 41);
			border: 1px solid #74678a;
		}

		button:not(:last-child) {
			margin-right: 6px;
		}
	}
}

// =================================================
// General Styling
// -------------------------------------------------
body,
body * {
	font-family: 'Montserrat', sans-serif;
}

button {
	background-color: white;
	border: 0;
	border-radius: 12px;
	padding: 5px 10px;
	font-weight: 500;
	cursor: pointer;
}

button:hover {
	background-color: #cacaca;
}

// =================================================
// Utility Classes
// -------------------------------------------------
.hidden {
	display: none;
}

.list-unstyled {
	list-style: none;
	padding-left: 0;
}

.modal {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(1px);
	
	.modalContent {
		z-index: 1000;
		background-color: rgba(39, 1, 65, 0.7);
		backdrop-filter: blur(5px);
		color: white;
		border-radius: 24px;
		padding: 20px 30px;
		margin: 15% auto;
		height: fit-content;
		max-height: 70%;
		width: fit-content;
		max-width: 70%;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
	}

	h2 {
		margin-top: 0;
	}
}

.modalExit {
	position: absolute;
	top: -6px;
	right: -6px;
	background-color: red;
	padding: 6px 12px;
	border-radius: 100%;
	cursor: pointer;
	transition: box-shadow 0.25s ease-in, background-color 0.25s ease-in;
}

.modalExit:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background-color: rgb(255, 50, 50);
	transition: box-shadow 0.25s ease-out, background-color 0.25s ease-out;
}

@-webkit-keyframes popup {
	0% 		{ -webkit-transform: translate(0px, -30px) scale(0.5); opacity: 0.5; }
	10% 	{ -webkit-transform: translate(0px, -30px) scale(1); opacity: 1;   }
	50% 	{ opacity: 0.5; }
	100%	{ -webkit-transform: translate(0px, -70px); opacity: 0; }
}

@keyframes popup {
	0% 		{ transform: translate(0px, -30px) scale(0.5); opacity: 0.5; }
	10% 	{ transform: translate(0px, -30px) scale(1); opacity: 1;   }
	50% 	{ opacity: 0.5; }
	100%	{ transform: translate(0px, -70px); opacity: 0; }
}

@-webkit-keyframes popdown {
	0% 		{ -webkit-transform: translate(0px, 5px) scale(0.5); opacity: 0.5; }
	10% 	{ -webkit-transform: translate(0px, 5px) scale(1); opacity: 1;   }
	50% 	{ opacity: 0.5; }
	100%	{ -webkit-transform: translate(0px, 45px); opacity: 0; }
}

@keyframes popdown {
	0% 		{ transform: translate(0px, 5px) scale(0.5); opacity: 0.5; }
	10% 	{ transform: translate(0px, 5px) scale(1); opacity: 1;   }
	50% 	{ opacity: 0.5; }
	100%	{ transform: translate(0px, 45px); opacity: 0; }
}